@keyframes spin {
    0% {
      transform: scale(1.2) rotate(0deg);
    }
    20% {
      transform: scale(1.2) rotate(0deg);
    }
    30%{
      transform: scale(1.2) rotate(-15deg)
    }
    40% {
      transform: scale(1.2) rotate(0deg);
    }
    50%{
      transform: scale(1.2) rotate(15deg);
    }
    60% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1.2) rotate(0deg);
    }
}